# Angular/Yeoman
node_modules
dist
.tmp
.sass-cache
app/bower_components
app/libraries
app/version.json

# Phonegap
platforms/**/
plugins/

# Phonegap + Yeoman
www/

# Intellij
*.iml
*.ipr
*.iws
.idea/
